h1{
  color: green;
  font-size: 45px;
  background-color: red;
  text-align: center;

}
h2{
  color: red;
  font-size: 25px;
}
p{
  color: purple;
  font-size: 80%;
}
body{
  color: purple;
  font-size: 30px;
  font-family: arial;
  background-color: black;
}

