.main {
  position: relative;
  width: 350px;
  float: left;
  margin: -10px;


}

#whoIam {
  color: silver;
  font-size: 10px;
}
#portrait {
  border-radius: 40px;
}

.desc {
  position: relative;
  width: 200px;
  left: 150px;
  top: 80px;
  font-size: 10px;
  text-align: right;
  margin: -20px;
}

.content {
  position: absolute;;
  left: 350px;
  background-color: white;
  float: right;
  margin-top: -10px;
  font-size: 10px;
}

.ft {
  position: fixed;
  bottom: 10px;
  left: 250px;
  color: white;
}


body {
  background-image: url("img/bg7.jpg");
  background-repeat: no-repeat;
  font-family: sans-serif;
}

#name {
  color: white;
}

.news {
    position: relative;
    padding: 20px 200px 20px 20px;
}

.news-item {
  padding-bottom: 100px;
}

.recentWork {
  padding-bottom: 100px;
}

.recentWork article {
  width: 300px;
  float: left;
  margin-right: 75px;
}

img {
  border-radius: 20px;
}
